:root {
	--negative: rgb(252, 114, 118);
	--positive: rgb(96, 189, 91);
	--blue: rgb(111, 161, 202);
	--text-neutral: rgb(120, 120, 120);
	--text-light: rgb(160, 160, 160);
}

body {
	font-family: 'Open Sans';
	font-size: 12px;
	color: var(--text-neutral);
}

#__da-app-content {
	display: flex;
	flex-direction: column;
}

#messages {
	flex: 0 0 auto;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: var(--text-light);
}

#messages svg {
	width: 0.8em;
	height: 0.8em;
	margin-right: 1ch;
}

#container {
	width: 100%;
	flex: 1 1 100%;
	display: grid;
	justify-content: space-between;
}

#tooltip {
	position: absolute;
	transform: translate(-50%, -140%);
	color: #fff;
	padding: 4px 8px;
	background-color: rgba(0,0,0,0.66);
	border-radius: 5px;
}

#tooltip:after {
	content: '';
	position: absolute;
	border-top: 6px solid rgba(0,0,0,0.66);
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.status-box {
	height: 140px;
	padding: 15px;
	box-sizing: border-box;
	margin: 10px;
	box-shadow: 0 4.5px 9px 0 rgb(0,0,0,0.25);
	border-radius: 9px;
	display: flex;
	flex-direction: column;
}

.title {
	flex: 0 0 auto;
	margin-bottom: 0.5em;
}

.arrow {
	width: 0.625em;
	height: 1em;
	margin-right: 1.5ch;
	fill:  var(--text-neutral);
}

.title.positive {
	color: var(--positive);
}

.title.positive .arrow {
	fill: var(--positive);
}

.title.negative {
	color: var(--negative);
}

.title.negative .arrow {
	fill: var(--negative);
}

.metric-name {
	font-weight: 600;
}

.vis-container {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
}

.trends-container {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.trend-total {
	position: relative;
	flex: 0 0 auto;
	color: var(--text-neutral);
	font-weight: 600;
}

.trend-total:after {
	content: 'total';
	margin-left: 0.5ch;
	position: absolute;
	white-space: nowrap;
	color: var(--text-light);
	font-weight: normal;
}

.line-chart {
	flex: 1 1 40px;
	width: 100%;
	transform: scale(1, -1);
	fill: none;
	stroke: var(--blue);
	stroke-width: 3px;
}

.line-chart path, .line-chart circle {
	transform: scale(0.85, 0.85);
	transform-origin: center center;
	vector-effect:  non-scaling-stroke;
}

.line-chart circle {
	fill: var(--blue);
}

.last-x {
	flex: 0 0 auto;
	font-size: 0.9em;
	color: var(--text-light);
}

.latest-trend {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.percent-change {
	font-weight: 600;
}

.percent-change.positive {
	color: var(--positive);
}

.percent-change.negative {
	color: var(--negative);
}

.change-explanation {
	color: var(--text-light);
	text-align: center;
	line-height: 1em;
}